  <div>
    {{#if this.imgOk}}
    <img src={{this.imgSrc}} alt={{this.title}}>
    {{else}}
    <img src="/img/no-img.png" alt="No image">
    {{/if}}
    <h4>{{this.title}}</h4>
    <p>{{this.episode}}</p>
  </div>
